
*.exe
*.test
*.prof
.adobe
.bash_history
.bash_logout
.cache
.config
.dbus
dev.moon
.dev.yaml
.distlib
.dmrc
.gconf
.gist
.git
.gitconfig
.gnome2
.gnome2_private
.gnupg
.gtkrc-2.0
.ICEauthority
.local
.macromedia
.mozilla
.python_history
.spamassassin
.ssh
.themes
.thumbnails
.vim
.viminfo
.vimrc
.Xauthority
.xchat2
.Xdefaults
.xscreensaver
.xsession-errors
.xsession-errors.old
